<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="banner_content">
            <h2>An Online Influencer Competition Site <br /></h2>
            <p>Online Influencer competiton program</p>
          </div>
        </div>
        <div class="col-lg-7"></div>
      </div>
    </div>
  </div>
</section>
